<% layout("/layouts/boilerplate") %>
<body>
  <div class="row mt-2">
    <div class="col-8 offset-2">
      <h3>Add new listing</h3>
      <form class="needs-validation" action="/listings/new" method="post" enctype="multipart/form-data" novalidate>
        <div class="mb-2">
          <label for="title" class="form-label">Title: </label>
          <input class="form-control" name="listing[title]" type="text" placeholder="enter title" />
          <div class="valid-feedback">Looks good</div>
          <div class="invalid-feedback">Title required</div>
        </div>

        <div class="mb-2">
          <label for="description" class="form-label">Description: </label>
          <textarea
            class="form-control"
            name="listing[description]"
            cols="20"
            rows="3"
            placeholder="enter decscription"
            required
          ></textarea>
          <div class="valid-feedback">Looks good</div>
          <div class="invalid-feedback">Description required</div>
        </div>

        <div class="mb-2">
          <label for="image" class="form-label">Upload Image:</label>
          <input class="form-control" name="listing[image]" type="file" />
        </div>

        <div class="row">
          <div class="mb-2 col-md-6">
            <label for="category" class="form-label">Category: </label>
            <select class="form-select" name="listing[category]" aria-label="Default select example">
              <option selected>select category</option>
              <option selected="selected" value="all">All</option>
              <option value="arctic">Arctic</option>
              <option value="beach">Beach</option>
              <option value="trending">Trending</option>
              <option value="iconic cities">Iconic cities</option>
              <option value="castles">Castles</option>
              <option value="amazing pools">Amazing pools</option>
              <option value="lakes">Lakes</option>
              <option value="mountains">Mountains</option>
              <option value="forest">Forest</option>
              <option value="old house">Old house</option>
              <option value="golfing">Golfing</option>
              <option value="temples">Temples</option>
              <option value="classic apartments">Classicl apartments</option>
              <option value="towers">Towers</option>
              <option value="parachuting">Parachuting</option>
              <option value="lake house">Lake house</option>
              <option value="igloo">Igloo</option>
              <option value="farms">Farms</option>
            </select>
          </div>
          <div class="mb-2 col-md-6">
            <label for="price" class="form-label">Price: </label>
            <input class="form-control" name="listing[price]" type="text" placeholder="enter price" required />
            <div class="valid-feedback">Looks good</div>
            <div class="invalid-feedback">invlaid price</div>
          </div>
        </div>

        <div class="row">
          <div class="mb-2 col-md-6">
            <label for="location" class="form-label">Location:</label>
            <input class="form-control" name="listing[location]" type="text" placeholder="enter location" required />
            <div class="valid-feedback">Looks good</div>
            <div class="invalid-feedback">Invlaid location name</div>
          </div>

          <div class="mb-2 col-md-6">
            <label for="country" class="form-label">Country:</label>
            <input class="form-control" name="listing[country]" type="text" placeholder="enter country" required />
            <div class="valid-feedback">Looks good</div>
            <div class="invalid-feedback">Invalid country name</div>
          </div>
        </div>

        <button class="btn btn-dark add-btn">Add</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>
