<% layout("/layouts/boilerplate") %>
<body class="home-body">
  <div class="welcome">
    <div class="overlay"></div>
    <h1>WANDERLUST welcomes you!</h1>
    <br />
    <h3>Explore amaxing sites</h3>
    <br />
    <a href="/listings"><div class="get-started">GET STARTED</div></a>
  </div>
</body>
